<div class="container d-flex justify-content-center w-100 align-items-center ">
    <input #task class="form-control m-5" type="text" placeholder="Enter Your task..."/>
    <button class="btn btn-secondary" type="submit" (click)="addTask(task.value)">ADD</button>
</div>
<div class="container p-5 m-5">
    <h1 *ngIf="listOfItems.length>0">Things To Do:</h1> 
    <div *ngFor="let items of listOfItems">
        <span>{{items.id}}.  {{items.name}} <button class="btn" (click)="removeTask(items.id)"><img src="../../assets/delete.png" width="20" height="20" alt="X"></button></span>
    </div>
</div>