<h1 class="bright fw-bolder p-5 m-5 text-center">{{headerText}}</h1>
<div class="container text-center">
        <p><b>Products:</b> Displays Products in card from API.</p>
        <p><b>ToDo:</b> ToDo pst that saved pst items in localstorage.</p>
        <p><b>GenerateQR:</b> It Generates QRCode for whatever is provided as Input (URL or any message) using QR code API.</p>
        <p><b>Form:</b> This for post input in API and routes to AfterSubmit Component.</p>
        <p><b>AfterSubmit:</b> This displays gets all records from the form  component and shows them on this page.</p>
</div>
